.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr) 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    

    .div3 { grid-area: 2 / 5 / 3 / 8; }
    .div4 { grid-area: 2 / 2 / 3 / 5; }
    .div5 { grid-area: 3 / 4 / 4 / 6; }